doctype html
html
    head
        title=title
        meta(charset="utf-8")
        meta(name="author" content="Aleksandr Ermolaev")
        meta(name="email" content="ave6990@ya.ru")
        meta(name="version" content="2023-06-20")
        style
            include ../public/styles/main.css
    body
        header
            h1 !{header} 
        main !{content}
        footer
            p
                copyright='Copyright © Александр Ермолаев 2023'
            p
                ='e-mail: ave6990@ya.ru'
