:root {
    --table-border-color: #bfbfbf;
    --text-color: #2d2d2d;
    --changed-color: #090974;
}

html {
    color: var(--text-color);
    font-family: "Droid Sans", sans-serif;
    height: 100%;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 10px;
    flex-grow: 1;
}

footer {
    text-align: center;
    flex-shrink: 0;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#input_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

label {
    margin: 5px 0;
}

#input_form label {
    min-width: 150px;
}

.inline_input > label {
    min-width: 150px;
}

.inline_input > input {
    min-width: 150px;
    margin: 5px 0;
}

table {
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
    line-height: 0.9;
}

td, th {
    border: 1px solid;
    border-color: var(--table-border-color);
    padding: 5px 5px;
}

#query {
    margin: 10px 0;
    width: 100%;
}

.inline_input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

label > input {
    border: 1px solid;
    border-color: var(--table-border-color);
    display: block;
    width: 100%;
    height: 20px;
}

.sql {
    min-height: 100px;
}

.changed {
    color: var(--changed-color);
}
